$orange: #FE8101;
$dark: #1F3149;
$light: #F4F4F4;

body, html{
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.main{
  box-sizing: border-box;
  padding-top: 38px;
  padding-bottom: 40px ;
  background-image: url(../img/bg.jpg);
  background-position:center;
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.header{
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
}

.nav{
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  font-weight: 400;
  &-item{
    margin-left: 35px;
    
  }
  &-link{
    color: #ffffff;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: 0.3s;
    &:hover{
      border-bottom: 1px solid #ffffff;
    }
  }
}

.contact-block{
  text-align: right;
}
.contact-block-information{
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  font-weight: 400;
  color: #ffffff;
  &__item{
    margin-bottom: 7px;
    margin-top: 7px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
  }
  &__item-img{
    margin-left: 13px;
  }
}