body, html {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif; }

.wrapper {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto; }

.main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 38px;
  padding-bottom: 40px;
  background-image: url(../img/bg2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header {
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
  font-weight: 400; }
  .nav-item {
    margin-left: 35px; }
  .nav-link {
    color: #ffffff;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .nav-link:hover {
      border-bottom: 1px solid #ffffff; }

.contact-block {
  text-align: right; }

.contact-block-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  font-weight: 400;
  color: #ffffff; }
  .contact-block-information__item {
    margin-bottom: 7px;
    margin-top: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .contact-block-information__item-img {
    margin-left: 13px; }
  .contact-block-information__item-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none; }

.title-h1 {
  margin: 0 0;
  font-size: 50px;
  text-align: left;
  font-weight: 500;
  position: relative;
  color: #ffffff;
  line-height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left; }
  .title-h1::after {
    content: '';
    position: absolute;
    width: 214px;
    border: 1px solid #223360;
    top: 150px; }

.main-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin: 0 auto;
  max-width: 1140px;
  padding-top: 50px;
  padding-bottom: 120px; }

.main-body-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .main-body-left__text {
    z-index: 2; }
  .main-body-left__subtext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.main-body-right__img {
  max-width: 100%;
  max-height: 100%; }

.main-body-left__subtext {
  padding-bottom: 80px; }
  .main-body-left__subtext-h2 {
    font-size: 30px;
    text-align: left;
    font-weight: 300;
    color: #ffffff; }
  .main-body-left__subtext-btn {
    color: #ffffff;
    background-color: #223360;
    padding: 16px 35px;
    border: none;
    max-width: 162px;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */